.contenedor1{
    margin: 30px auto;
    width: 350px;
    height: 350px;
    border: 2px solid midnightblue;
    border-radius: 10px;
    background-color: darkmagenta;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.contenedor2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
img{
    height: 60px;
    width: 60px;
}
h2{
    font-family: "Calisto MT";
    text-align: center;
    color: linen;
    font-size: 40px;
}
button{
    background-color: midnightblue;
    color: linen;
    border: 1px solid black;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    z-index: 10;
    position: relative;
}
button:hover{
    background-color: indigo;
}
